body{
    background: white;
    color: rgb(51,51,51);
    font-family: "Rubik", sans-serif;
}
canvas{
    border-radius: 50%;
    background: white;
}
#container{
    margin: 0 auto;
    height: 400px;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    border-bottom-left-radius: 300px;
    border-top-left-radius: 300px;
    background: cornflowerblue;

    
}
#resultSide{
    margin: 0 auto; 
    display: default;
}
#title{
    margin: 0 auto;
    text-align: center;
}  
#mobile{
    display: none;
}

@media (max-width: 1200px) {
        #container{
            display: none;
        }
        #mobile{
            display: block;
        }
        #title{
            display: none;
        }
} 
button{
    outline: none;
    height: 50px;
    border-radius: 25px;
    color: white;
    background: cornflowerblue;
    border: none;
    width: 200px;
    font-family: "Rubik", sans-serif;
    margin-bottom: 7%;
    border: 3px solid white;
}
#addData{
    margin-top: 5%;
}
button:hover{
    background: lightblue;
    cursor: pointer;
    font-size: 16px;

}
#name{
    font-family: "Rubik", sans-serif;
    height: 30px;
    width: 200px;
    margin-bottom: 5%;
    border-radius: 30px;
}
#name::placeholder{
    text-align: center;

}
#name[type=text]{
    text-align: center;
}
#output{
    text-align: center;
    width: 300px;
}
#logg{
    margin: 0 auto;
    width: 1000px;
    font-size: 20px;
    display: flex;
}
#help{
    width: 47%;
}

@media (max-width: 1000px){
    #help{
        width:90%;
        margin: 0 auto;
    }
    #logList{
        display: none;
    }  
}

a{
    color: cornflowerblue;
}

